<head>
<style>
    .topimgw{
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px);
}

h1{
    padding-top: 70px;
    font-family: 'Lato';
    font-weight: bolder;
   font-size: 45px;
}
h3{
    font-family: 'Lato';
    padding-top: 20px;
}
p{
    font-family: 'Lato';
    padding-top: 20px;
}
.btn{
    font-family: 'Lato';
border-radius: 20px;
}
.container{
    background-color: white;
    border-radius: 20px;
    padding-left: 7.5px;
    
}
.sideimg{
    width: 100%;
object-fit: cover;
padding-top: 70px;
}
/*#logo{
width: 100px;
height: 100px;
text-align: right;
position: absolute;
left: 430px;
top:0px ;
}*/

#logo{
width: 80px;
height: 60px;
text-align: right;
position: relative;
left: 210px;
top: -20px;
margin-top: 50px;

}
</style>
</head>

<body>
    <div class="container">
<div class="row mt-5">
    <div class="col-md-6 " style="background-color: rgba(255, 165, 0,0.6); border-radius: 20px 0px 0px 20px;">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/young-man-welcoming-a-young-lady-in-office-2112241-1779240.png" class="sideimg">
       
    </div>

    <div class="col-md-6 m-auto">
        <div class="card card-body text-center" style="height: 600px;width:500px ; background-color: white;border: none; border:none ;border-radius: 20px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBTy8rOg1g0GYPg8oHbBugqAT_m5dnd_Nrnw&usqp=CAU" class="topimgw">
           <!---- <img src="https://projectheena.com/uploads/ngo/38137483873955/profileImage/images/bhumi.jpg" id="logo">-->
            <h1 style="color: orange; font-weight: bold;"> Welcome </h1>
            <h3 style="color: crimson;"> Login to use the Certificate Generator Tool </h3>
            <p>Create an Account or Login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2 mt-4">Register</a>
            <a href="/users/login" class="btn btn-secondary bt-block mt-3">Login</a>
            <a href="/users/adminlogin" class="btn btn-secondary bt-block mt-4">Admin Login</a>
            <img src="https://www.pinclipart.com/picdir/big/58-589787_human-resource-intern-bhumi-ngo-chennai-hd-clipart.png" id="logo">
            
        </div>
    </div>
</div>


</div>
</body>